<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortaldoPreco2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PortaldoPreco2.Properties.Settings>
            <setting name="usuarioConectado" serializeAs="String">
                <value />
            </setting>
            <setting name="telefone" serializeAs="String">
                <value />
            </setting>
            <setting name="estado" serializeAs="String">
                <value />
            </setting>
            <setting name="cep" serializeAs="String">
                <value />
            </setting>
            <setting name="endereco" serializeAs="String">
                <value />
            </setting>
            <setting name="cidade" serializeAs="String">
                <value />
            </setting>
            <setting name="complemento" serializeAs="String">
                <value />
            </setting>
            <setting name="cnpj" serializeAs="String">
                <value />
            </setting>
            <setting name="verificado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="id" serializeAs="String">
                <value>0</value>
            </setting>
        </PortaldoPreco2.Properties.Settings>
    </userSettings>
</configuration>